<h1 class="header">About Me</h1>
<p>
    My name is Ryan Zuber, I am currently 22 years old. I've lived in the Seattle area for most of my life, and I love it here.
    After going through the public school system, I developed a heavy dislike for the standard way of schooling, which is why I eventually 
    decided to abandon college and attend a coding bootcamp. This was very valuable to me because I was able to develop the skills that 
    I needed to become a developer, without all of the random school curriculum that was required at college. I learned the basics
    of 3 full web stacks. This includes Python (with the Django framework), ASP.NET Core (with the Entity Framework), and the MEAN stack. 
    Each stack utilized a front-end, back-end, and database. Another aspect of the bootcamp was learning algroithms. We covered a wide 
    array of data structures such as binary search trees, linked lists, and stacks.
</p>
<p>
    I would be happy to work on projects that utilize C# and/or Angular. I excelled with these tools, and enjoy the things you can do with each.
    C# for its heavy OOP capabilities, and Angular for its ability to never require a refresh and ability to run client-side. That being said I 
    am not at all opposed to working with anything, or learning new technologies. After all, that's what the Coding Dojo taught us to do, learn
    how to learn new languages and technologies.
</p>
<p>
    Please feel free to contact me with any work opportunities, job openings, or even just to give feedback on any of my work. Thank you.
</p>
