<h1 class="header">My Projects</h1>
<h2>The Wall: <a href="http://54.213.156.218">Deployed version</a> | <a href="https://github.com/wilsonramstead/theWall">https://github.com/wilsonramstead/theWall</a></h2>
<h2>90ToLA: <a href="https://github.com/ZuberR97/90ToLA">https://github.com/ZuberR97/90ToLA</a></h2>
<h2>Pet Shelter: <a href="https://github.com/ZuberR97/Pet-Shelter">https://github.com/ZuberR97/Pet-Shelter</a></h2>
<h2>Wedding Planner: <a href="https://github.com/ZuberR97/Wedding-Planner">https://github.com/ZuberR97/Wedding-Planner</a></h2>