<h1 class="header">Contact</h1>
<a style="margin-left: 6%;" href="https://www.linkedin.com/in/ryan-zuber-041244120"><img class="imagesize" src="https://upload.wikimedia.org/wikipedia/commons/c/ca/LinkedIn_logo_initials.png" alt=""></a>
<a href="https://github.com/ZuberR97"><img class="imagesize" src="https://image.flaticon.com/icons/svg/25/25231.svg" alt=""></a>
<a href="mailto: ryan@zube.com"><img class="imagesizegmail" src="https://image.flaticon.com/icons/png/512/281/281769.png" alt="gmail"></a>

