<div class="container">
  <div class="header">
    <h2 class="clock">{{ time | date: 'hh:mm:ss a' }}</h2>
    <h1 class="name">Ryan Zuber</h1>
  </div>
  <div class="componentSelector">
    <button (click)="homeClick()">Home</button>
    <button (click)="aboutMeClick()">About Me</button>
    <button (click)="resumeClick()">Resume</button>
    <button (click)="projectsClick()">Projects</button>
    <button (click)="contactClick()">Contact</button>
  </div>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>


