<h1 class="header">My Technologies</h1>
<img src="/assets/imgs/HTML.png" alt="HTML5">
<img src="/assets/imgs/CSS.png" alt="CSS3">
<img src="/assets/imgs/JavaScript.png" alt="JavaScript">
<img src="/assets/imgs/c-sharp.png" alt="C#">
<img src="/assets/imgs/mysql.png" alt="MySQL">
<img src="/assets/imgs/mongodb.png" alt="MongoDB">
<img src="/assets/imgs/expressjs.png" alt="ExpressJS">
<img src="/assets/imgs/angular.png" alt="Angular">
<img src="/assets/imgs/nodejs.png" alt="NodeJS">
<img src="/assets/imgs/python.png" alt="Python">